@model FurnitureRentingClientMVC.Models.Bill

@{
    ViewData["Title"] = "Details";
}

<h1>Bill Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BillOwner)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BillOwner)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FurnitureName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FurnitureName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BillAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BillAmount)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Proceed To Pay</a>
</div>
